main{
    section{
        background-color: #212529;
        
    }
    h1{
       
        margin-top: 50px;
    }
   
    p{
        color: black;
    }
    .btn1{
        color: #fff;
        margin-right: 20px;
        margin-top: 50px;
        
    }
    .btn2{
        margin-right: 20px;
        margin-top: 50px;
    }
   
        
    
}
main{
    
    h2{
        margin-top: 50px;
    }
    
}

   




          
